div.theme-default-content:not(.custom) {
  max-width: 1024px;
}
.page-meta {
  max-width: 1024px;
}

.home {
  max-width: 1024px;
}

:root {
  // brand colors
  --c-brand: #48C0C7;
  --c-brand-light: #48C0C7;

}
html.dark {

    --c-brand: #48C0C7;
    --c-brand-light: #48C0C7;
    //textcolors
    --c-text: white;
    --c-text-light: #white;
    // --c-text-lighter: #white;
}

// table:nth-of-type(1) {
//   display:table;
//   width:100%;
// }

table {
  display:table;
  width:100%;
}
table:nth-of-type(2) th:nth-of-type(2) {
  width:33%;
}

p.maker {
  margin-top: -15px!important;
  color: var(--c-brand-light);
}

.sidebar-item {
  font-weight: bold;
}

.custom-container.tip {
  border-color: #48C0C7;
  background-color: var(--c-tip-bg);
  color: var(--c-tip-text);
}

// .badge.tip {
//   background-color: #48C0C7;
//   padding: 5px 10px;
// }

// .badge.warning {
//   padding: 5px 10px;
// }

.badge {
  padding: 5px 10px;
}

.custom-container.danger a {
  color: #48C0C7;
}

.language-shell.line-numbers-mode
  .line-numbers-wrapper {
    display: none;
  }
 
.sidebar-item:not(.sidebar-heading) + .sidebar-item-children {
  padding-left: 2rem !important;
}

.custom-container.details summary {
	outline: none;
	cursor: pointer;
	padding-bottom: 10px;
	padding-top: 10px;
}

div[class*="language-"] {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.code-group__nav {
  background-color: #2f5599;
}

.code-group__nav-tab-active {
	border-bottom: none;
  margin-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  background-color: white;
  color: black;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  height: 100%;

}

.code-group__nav-tab {
  line-height: 1.2;
}